<!doctype html>
<html class="no-js" lang="">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/web/img/logo.png">
    <link rel="stylesheet" href="~/Content/web/css/normalize.css">
    <link rel="stylesheet" href="~/Content/web/css/main.css">
    <link rel="stylesheet" href="~/Content/web/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/web/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/web/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/web/vendor/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/web/vendor/OwlCarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/web/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/Content/web/vendor/slider/css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/web/vendor/slider/css/preview.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/web/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="~/Content/web/css/switch-style.css">
    <link rel="stylesheet" href="~/Content/web/style.css">
    <script src="~/Content/web/js/modernizr-2.8.3.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header1-area">
                <div class="header-bottom-area" id="sticker">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="logo-area">
                                    <a href="index.html"><img class="img-responsive" src="~/Content/web/img/logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="main-menu-area">
                                    <nav>
                                        <ul>
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li><a href="#">Product</a>
                                                <ul>
                                                    <li>@Html.ActionLink("Bee", "index", "Product")</li>
                                                    <li>@Html.ActionLink("Lunch", "index", "Product")</li>
                                                    <li>@Html.ActionLink("Breakfast", "index", "Product")</li>
                                                </ul> 
                                            </li>
                                            <li>@Html.ActionLink("About", "About", "Home")</li>
                                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <ul class="header-cart-area">
                                    <li class="header-search">
                                        <form>
                                            <input type="text" class="search-form" placeholder="Search...." required="">
                                            <a href="#" class="search-button" id="search-button"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </form>
                                    </li>
                                    <li>
                                        <div class="cart-area">
                                            <a href="#"><i aria-hidden="true" class="fa fa-shopping-cart"></i><span>2</span></a>
                                            <ul>
                                                <li>
                                                    <div class="cart-single-product">
                                                        <div class="media">
                                                            <div class="pull-left cart-product-img">
                                                                <a href="#">
                                                                    <img src="~/Content/web/img/dish/1.png" alt="product" class="img-responsive">
                                                                </a>
                                                            </div>
                                                            <div class="media-body cart-content">
                                                                <ul>
                                                                    <li>
                                                                        <h1><a href="#">Lunch Menu</a></h1>
                                                                        <p><span>Code:</span> STPT600</p>
                                                                    </li>
                                                                    <li>
                                                                        <p>X 1</p>
                                                                    </li>
                                                                    <li>
                                                                        <p>$49</p>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="trash"><i class="fa fa-trash-o"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="cart-single-product">
                                                        <div class="media">
                                                            <div class="pull-left cart-product-img">
                                                                <a href="#">
                                                                    <img src="~/Content/web/img/dish/2.png" alt="product" class="img-responsive">
                                                                </a>
                                                            </div>
                                                            <div class="media-body cart-content">
                                                                <ul>
                                                                    <li>
                                                                        <h1><a href="#">Dinner Menu</a></h1>
                                                                        <p><span>Code:</span> STPT460</p>
                                                                    </li>
                                                                    <li>
                                                                        <p>X 1</p>
                                                                    </li>
                                                                    <li>
                                                                        <p>$75</p>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="trash"><i class="fa fa-trash-o"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span><span>Sub Total</span></span><span>$124</span>
                                                    <span><span>Discount</span></span><span>$30</span>
                                                    <span><span>Vat(20%)</span></span><span>$18.8</span>
                                                    <span><span>Sub Total</span></span><span>$112.8</span>
                                                </li>
                                                <li>
                                                    <ul class="checkout">
                                                        <li><a href="https://www.radiustheme.com/demo/html/redchili/redchili/cart.html" class="default-btn">View Cart</a></li>
                                                        <li><a href="https://www.radiustheme.com/demo/html/redchili/redchili/check-out.html" class="default-btn">Checkout</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>
                                            <a href="#">Product</a>
                                            <ul>
                                                <li>@Html.ActionLink("Product", "index", "Product")</li>
                                                <li><a href="index2.html">Home 2</a></li>
                                                <li><a href="index3.html">Home 3</a></li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area End -->
        </header>
        <div class="slider1-area">
            <div class="bend niceties preview-1">
                <div id="ensign-nivoslider-3" class="slides">
                    <img src="~/Content/web/img/slider/slide1-1.jpg" alt="slider" title="#slider-direction-1" />
                    <img src="~/Content/web/img/slider/slide1-2.jpg" alt="slider" title="#slider-direction-2" />
                    <img src="~/Content/web/img/slider/slide1-3.jpg" alt="slider" title="#slider-direction-3" />
                </div>
                <div id="slider-direction-1" class="t-cn slider-direction">
                    <div class="slider-content s-tb slide-1">
                        <div class="title-container s-tb-c">
                            <h1 class="title1">Delicious Beef Shawarma</h1>
                            <p>Dorem Ipsum is simply dummy of the printing and typesetting 's standard dummy when.</p>
                            <div class="slider-btn-area">
                                <a href="#" class="ghost-btn">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="slider-direction-2" class="t-cn slider-direction">
                    <div class="slider-content s-tb slide-2">
                        <div class="title-container s-tb-c">
                            <h1 class="title1">Grilled Beef Shawarma</h1>
                            <p>Dorem Ipsum is simply dummy of the printing and typesetting 's standard dummy when.</p>
                            <div class="slider-btn-area">
                                <a href="#" class="ghost-btn">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="slider-direction-3" class="t-cn slider-direction">
                    <div class="slider-content s-tb slide-3">
                        <div class="title-container s-tb-c">
                            <h1 class="title1">Leeds <span>Red</span> Chilli Restaurant</h1>
                            <p>Dorem Ipsum is simply dummy of the printing and typesetting 's standard dummy when.</p>
                            <div class="slider-btn-area">
                                <a href="#" class="ghost-btn">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <footer>
            <div class="footer-area-top section-space">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="footer-box">
                                <h3 class="title-bar-footer">About Cafe</h3>
                                <div class="footer-about">
                                    <p>We aim to home-produce as much as possiblefor the best quality, and to reduce food mcious cakes, traditional Devon soups, sauces and accompanimentsion.We aim to home-produce as much as possiblefor the best quality, and to reduce food mcious cakes.</p>
                                </div>
                                <ul class="footer-social">
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="footer-box">
                                <h3 class="title-bar-footer">Blog Posts</h3>
                                <div class="footer-blog-post">
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            <img src="~/Content/web/img/footer-blog1.jpg" alt="footer-blog" class="img-responsive">
                                        </a>
                                        <div class="media-body">
                                            <h4><a href="#">Beef Burger Daily Special Foods That</a></h4>
                                            <p>20 Aug, 2016</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-blog-post">
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            <img src="~/Content/web/img/footer-blog2.jpg" alt="footer-blog" class="img-responsive">
                                        </a>
                                        <div class="media-body">
                                            <h4><a href="#">Beef Burger Daily Special Foods That</a></h4>
                                            <p>20 Aug, 2016</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-blog-post">
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            <img src="~/Content/web/img/footer-blog3.jpg" alt="footer-blog" class="img-responsive">
                                        </a>
                                        <div class="media-body">
                                            <h4><a href="#">Beef Burger Daily Special Foods That</a></h4>
                                            <p>20 Aug, 2016</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="footer-box">
                                <h3 class="title-bar-footer">Opening Hours</h3>
                                <ul class="opening-schedule">
                                    <li>Monday<span> 5pm - 11pm</span></li>
                                    <li>Tuesday<span> 5pm - 11pm</span></li>
                                    <li>Wednesday <span> Closed</span></li>
                                    <li>Thursday<span> 5pm - Midnight</span></li>
                                    <li>Friday<span> 4:30pm - Midnight</span></li>
                                    <li>Saturday <span> 5pm - 11pm</span></li>
                                    <li>Sunday<span> 5pm - 11pm</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-area-bottom">
                <div class="container">
                    <p>&copy; 2016 RedChili All Rights Reserved. &nbsp; Designed by<a target="_blank" href="http://radiustheme.com/"> RadiusTheme</a>.com</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/Content/web/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="~/Content/web/js/plugins.js" type="text/javascript"></script>
    <script src="~/Content/web/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/web/js/wow.min.js"></script>
    <script src="~/Content/web/vendor/slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/Content/web/vendor/slider/home.js" type="text/javascript"></script>
    <script src="~/Content/web/vendor/OwlCarousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/Content/web/js/jquery.meanmenu.min.js" type="text/javascript"></script>
    <script src="~/Content/web/js/jquery.scrollUp.min.js" type="text/javascript"></script>
    <script src="~/Content/web/js/jquery.counterup.min.js"></script>
    <script src="~/Content/web/js/waypoints.min.js"></script>
    <script src="~/Content/web/js/switch-style.js" type="text/javascript"></script>
    <script src="~/Content/web/js/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
    <script src="~/Content/web/js/validator.min.js" type="text/javascript"></script>
    <script src="~/Content/web/js/main.js" type="text/javascript"></script>

</body>
</html>










